---
import Banner from "@components/Banner.astro";
import Layout from "@layouts/Layout.astro";
import { getPage } from "src/utils/getPage";
import Welcome from "@components/Welcome.astro";
import Container from "@components/Container.astro";
import Card from "@ui/Card.astro";
import CardSection from "@components/CardSection.astro";

const page = await getPage("index");

const { pageInfo, welcome, extraCard, cards } = page;
const { banner, title,  } = pageInfo;
---

<Layout title={title}>
    <div slot="banner"><Banner bannerImg={banner} /></div>
    <div slot="content">
        {welcome && <Welcome welcome={welcome} />}
        <Container>
            {extraCard && <Card card={extraCard} />}
            {cards && <CardSection cards={cards} />}
        </Container>
    </div>
</Layout>
