---

import { type ExtraCardType } from "src/types";
import Button from "@components/ui/Button.astro";

interface Props {
  card: ExtraCardType;
  class?: string;
}


const { card, class: className } = Astro.props;
const { src, title, description, buttonContent, extraInfo } = card;

---

<div class:list={["flex flex-col md:flex-row gap-x-16 mt-16", className]}>
  <picture>
    <img src={src} alt={title} class="w-full md:w-auto md:h-80" />
  </picture>

  <div class="flex mt-6 md:mt-0 flex-col gap-y-5 md:max-w-80">
    {extraInfo && <h1 class="font-bold text-xl">{extraInfo}</h1>}
    <h1 class="text-2xl">{title}</h1>
    <p class="text-sm text-secondary" >{description}</p>
    <Button variant="green" class="self-start">
        {buttonContent}
    </Button>
  </div>
</div>
